<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos9.0</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>SimpleStocks.xcodeproj</string>
			<key>CustomBindingsLibCompilationOptions</key>
			<array>
				<string>-fembed-bitcode</string>
			</array>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-include</string>
				<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/Simple Stocks/SimpleStocks/SimpleStocks-Prefix.pch</string>
				<string>-fobjc-arc</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2015-09-16T10:21:40Z</date>
			<key>CustomBindingsLibPlatformSdkName</key>
			<string>iphoneos9.0</string>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGVldYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QFQcIERIXHB0hJictLjQ7PD1BRklN
			UlUkbnVsbNQJCgsMDQ4PEFZvYmplY3RUbmFtZVphdHRyaWJ1dGVz
			ViRjbGFzc4ADgAKAFIATUNITDBQWWk5TLm9iamVjdHOhFYAEgBHU
			CQoLDBgZGhCABoAFgBKAE1xTaW1wbGVTdG9ja3PSEwweFqEfgAeA
			EdQJCgsMIiMkJYAJgAiADIAQXxAQQ0lNQXBwRGVsZWdhdGUuaNMo
			DCkqKyxXTlMuYmFzZVtOUy5yZWxhdGl2ZYAAgAuACl8Qd2ZpbGU6
			Ly8vVm9sdW1lcy9CcnVtZS9DZWxlZGV2JTIwQ29kZUZsb3cvQ29k
			ZUZsb3clMjBTYW1wbGUlMjBBcHBsaWNhdGlvbnMvU2ltcGxlJTIw
			U3RvY2tzL1NpbXBsZVN0b2Nrcy9DSU1BcHBEZWxlZ2F0ZS5o0i8w
			MTJaJGNsYXNzbmFtZVgkY2xhc3Nlc1VOU1VSTKIxM1hOU09iamVj
			dNM1Eww2ODpXTlMua2V5c6E3gA2hOYAOgA9Yc2VsZWN0ZWQI0i8w
			Pj9fEBNOU011dGFibGVEaWN0aW9uYXJ5oz5AM1xOU0RpY3Rpb25h
			cnnSLzBCQ1xDREZMTmFtZWRVcmyjREUzXENERkxOYW1lZFVybF1D
			REZMTmFtZWRJdGVt0i8wR0hXTlNBcnJheaJHM9M1EwxKSzqgoIAP
			0i8wTk9eQ0RGTE5hbWVkR3JvdXCjUFEzXkNERkxOYW1lZEdyb3Vw
			XUNERkxOYW1lZEl0ZW3TNRMMU1Q6oKCAD18QD05TS2V5ZWRBcmNo
			aXZlctFYWVRyb290gAEACAARABoAIwAtADIANwBPAFUAXgBlAGoA
			dQB8AH4AgACCAIQAhQCKAJUAlwCZAJsApACmAKgAqgCsALkAvgDA
			AMIAxADNAM8A0QDTANUA6ADvAPcBAwEFAQcBCQGDAYgBkwGcAaIB
			pQGuAbUBvQG/AcEBwwHFAccB0AHRAdYB7AHwAf0CAgIPAhMCIAIu
			AjMCOwI+AkUCRgJHAkkCTgJdAmECcAJ+AoUChgKHAokCmwKeAqMA
			AAAAAAACAQAAAAAAAABaAAAAAAAAAAAAAAAAAAACpQ==
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>6.1</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>SimpleStocks</string>
				<key>targetSdk</key>
				<string>iphoneos</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>SimpleStocks.xcodeproj</string>
			<key>target</key>
			<string>SimpleStocks</string>
			<key>targetSdk</key>
			<string>iphoneos</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>StockViewController</string>
		<key>LuaAppWindow frame</key>
		<string>577 592 1429 759 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>StockViewController</string>
			<string>SimpleStockView</string>
			<string>StockTradeInfo</string>
			<string>YahooStockTradeInfo</string>
			<string>Background-image</string>
			<string>AAPL-stock-info</string>
			<string>Orange-stock-info</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>AppBase</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>AAPL-stock-info</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>453980667.20836598</real>
		</dict>
		<key>Background-image</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>445444598.18223399</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>346</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>395.60000000000002</real>
			</dict>
		</dict>
		<key>Orange-stock-info</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>453980908.81083798</real>
		</dict>
		<key>SimpleStockView</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>453989184.04620898</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>10934</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1183</integer>
				<key>SrcEditor Visible Location</key>
				<integer>14785</integer>
			</dict>
		</dict>
		<key>StockTradeInfo</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>446115056.02730501</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1204</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>StockViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>453989613.48136097</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>1403</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1404</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>YahooStockTradeInfo</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>453990321.18000799</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>1522</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1352</integer>
				<key>SrcEditor Visible Location</key>
				<integer>501</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
